@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* General */

.bold {
  font-weight: bold;
}

/* Header */

.light-mode-button {
  position: absolute;
  top: 1em;
  right: 1em;
}

.site-title {
  text-decoration: underline;
  margin: 0;
}

.site-subtitle {
  font-size: 1em;
  margin: 0;
}

/* App */

.App {
  transition: background 0.3s, color 0.3s;
  position: relative;
  padding: 1em;
}

.darkmode {
  background: #304674;
  color: white;
}

.lightmode {
  background: #D8E1E8;
  color: black;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* RaccoonForm */

.new-raccoon-form {
  border-radius: 1em;
  padding: 2em 0.5em;
  background: grey;
  height: 5em;
  position: sticky;
  top: 1em;
  margin: 1em;
  margin-right: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.new-raccoon-form input[type="submit"] {
  margin-top: 1em;
  background: white;
  border: none;
  border-radius: 0.25em;
}

.new-raccoon-form label {
  color: white;
}

/* RaccoonCard */

.raccoon-card {
  border-radius: 1em;
  margin: 1em;
  margin-left: 0;
  padding: 0.3em 2em;
  color: black;
  display: flex;
  justify-content: space-between;
  text-align: right;
  transition: background 0.3s, padding 0.3s;
  cursor: pointer;
}

.raccoon-card img {
  object-fit: cover;
  width: 5em;
  height: 5em;
  border: solid black 2px;
  border-radius: 100%;
  transition: filter 0.3s, transform 0.5s;
}

.lightmode .raccoon-card img {
  filter: invert(1);
}

.raccoon-card:active img {
  transform: rotate(540deg);
}

.raccoon-card:nth-child(2n + 1) {
  background: darkgray;
  /* background: lightgray; */
}

.raccoon-card:nth-child(2n + 2) {
  background: gray;
}

/* .raccoon-card:nth-child(3n + 3) {
} */

.raccoon-card:hover {
  background: white;
  padding: 0.7em 2.5em;
}